
<h3>Skorzystaj z poniższych linków:<br></h3>

<ul>
	<li>
		<a href="{{ url_for("clientsPL_list") }}">{{ url_for("clientsPL_list") }}</a> - lista klientów w szablonie dla j.polskiego
	</li>
	<li>
		<a href="{{ url_for("clientsEN_list") }}">{{ url_for("clientsEN_list") }}</a> - lista klientów w szablonie dla j.angielskiego
	</li>
	<li>
		<a href="{{ url_for("addresses_list") }}">{{ url_for("addresses_list") }}</a> - lista adresów
	</li>
	<li>
        <a href="{{ url_for("add") }}">{{ url_for("add") }}</a> - formularz dodawania konta klienta
	</li>
</ul>
